<div class="page-content">
  <h2>كلام من القلب 🌟</h2>
  <p>مشكلتي في الدنيا إني ما نعرّفش نعبّر كيما يلزم. كل مرّة نحاول نحكي، الكلام يعقد، أما والله قلبي صافي معاك ونخاف عليك بالله. تعرف، سبحان ربي، كيفاش نجم نوصّلك شنو نحس؟ كنت نحسّ بالأمان ومرتاح كي نكون معاك، وفجأة نلقى مروى ورايا، وفي لحظة كل شي تبدّل مع كريم.</p>

<p>مروى، حاولت نقولك اللي في قلبي، أما الكلام ما يخرجش كيما نحسّ. قلبي ديما نقي معاك ونخاف عليك من ربي. كنت نحس بالراحة معاك، ومن غير ما نحس، كل شي تبدّل كي شفتيني.</p>

<p>نتمنا تفهميني وتشوفي شنوّا في داخلي، ونرجعو نلقاو الطريق لبعضنا. طيّحلي عينيك، وخلينا نكمّلو مع بعضنا برحمة ربي.</p>
 <h1>Tfakir Miro Kimo Louna Sanfor Sanfoura Mlawi Mila7a Janoub w w w w w w ...</h1>
<p>❤️ نهاية الرسالة</p>
  <a routerLink="/page4" class="prev-button">⏮ السابق</a>
</div>