<div class="page-content">
  <h2>نحب نرتاح معاك 🌿</h2>
  <p>مروة، بالحق وليّت ما نحبش نشوف الحكاية من زاوية سلبية… نحس الدنيا قصيرة برشا، والواحد ما يستحقش يعيشها في خوف ولا تردد ولا شكوك.</p>
  <p>أنا اليوم نحب نركز، نعمل عايلتي، نثبت روحي، نكبر مع صغاري، و الحلمة هذي شفتها كان معاك.</p>
  <p>إي، يلي يحبك بالحق، يعمل المستحيل على خاطرك. موش كلام، هاذي حاجة حسيتها في قلبي، وورّيتها بأفعالي حتى وقت التعب و الظلمة.</p>
  <p>صحيح يمكن ريت مني حاجات خايبة و توجع، أما صدقني، راهي كانت من الخوف نفقدك، مش من قلة حب.</p>
  <p>قمرت بكل شيء عزيز عليّا، على خاطرك تستاهل، وعلى خاطرك آمنت بالحلمة معاك.</p>
  <p>أغزرلي، و قوللي إذا مازال في قلبك ذرة من الأمل، خاطري أنا، في جمعة نسلك روحي، نتحمل أي خدمة، نعيش في أي ظروف، إذا نعرف اللي قلبي مطمئن من جيهتك.</p>
  <p>نحب نرتاح، و نحسك الأمان، و نعيشو مع بعضنا بركة ربي، من جديد.</p>

  <a routerLink="/page3" class="prev-button">⏮ السابق</a>
   <a routerLink="/page5" class="next-button">⏭ التالي</a>
</div>