<div class="page-content">
  <h2>إنتِ أكبر من هكا 🤍</h2>
  <p>نعرف الليك قلب كبير، و نعرفك إنسانة تقدر المعاني و التضحيات.</p>
  <p>مرات الظروف، التعب، و الضغط ينجموا يغطيو على مشاعر صافية... أما نآمن الليك قلبك ما ينساش الخير، و ما يغلطش في تقدير الناس اللي حبّوك من قلبهم.</p>
  <p>نآمن بيك، و نعرف اللي مع شوية راحة و استقرار، قلبك ينجم يعطي فرصة، مش من ضعف، أما من حكمة و نضج و حب صادق.</p>
  <p>مروة، ما كنتش نستنى منك حاجة، كنت نحاول نكون في المستوى، و نخليك ديما تفتخر بيا.</p>
  <a routerLink="/page2" class="prev-button">⏮ السابق</a>
  <a routerLink="/page4" class="next-button">⏭ التالي</a>
</div>